*{
  margin: 0;
  padding: 0;

  overflow: hidden;
}
body{
  background-color: palegoldenrod;
  box-sizing: border-box;
  font-family: sans-serif;
}
.Reg {
 position: relative;
 width: 90%;
 left: 10%;
 margin: 20px 0 20px 0;
 
 
}
.Reg label{
  font-size: 30px;
  margin: 10px 0;
  }
.Reg input{
  font-size: 16px;
  padding: 15px 15px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  outline: none;
  margin: 8px;
  box-sizing: border-box;
  display: inline-block;
}
.Reg button{
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  padding: 10px;
  width: 50%;
  border-radius: 50px;
  background-color: lightskyblue;
  color: white;
  outline: none;
  display: inline-block;
}
#Gender{
  width:20%;
  border-radius: 10px;
  padding: 10px;
  
}
.Regbn a{
  text-decoration: none;
  outline-color: none;
}
#color{
  width: 20%;
  display: inline-block;
}
#birthday{
  width:30%;
}
.Reg h1{
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

